<div class="footer">
<div class="container">
       <div class="row justify-content-center text-align-center">
        <div class="col-lg-5 col-md-12 col-sm-12 d-flex align-items-center">
            <div class="footer-logo ">
                <a class="navbar-brand d-flex align-items-center">
                    <div class="logo d-flex">
                        <img src="assets/schemeSync.png" alt="Roller-sandblasting-logo">
                    </div>
                        <div class="brandname">
                            <h5>SCHEME SYNC</h5>
                        </div>                     
                </a>
                
                
                 <div class="desc">
                    <p>
                        Our AI platform connects citizens to the right government schemes with real-time updates, a smart chatbot, and secure data handling for a seamless, transparent experience.
                    </p>
                   
                 </div>
                 
            </div>
        </div>
        <div class="col-5 col-sm-5 col-md-5 col-lg-3 col-xl-3">  
            <!-- <div class="contact d-flex flex-column">
               <h5>Useful Links</h5>
               <a [routerLink]="['/home']">Home</a>
               <a [routerLink]="['/about']">About</a>
               <a [routerLink]="['/products']">Products</a>
               <a [routerLink]="['/contact']">Contact</a>
            </div> -->
            <a 
            href="https://maps.app.goo.gl/5XvAieRZE6ubPaKu8" 
            target="_blank" class="contact">
            <h5>Reach Us Here : </h5>
            <ul class="mx-auto mb-2 mb-lg-0">
                <li class="mb-2">
                   <a class="nav-link" [routerLink]="['/home']" routerLinkActive="active">Home</a>
                </li>
                <li class="mb-2">
                   <a class="nav-link" [routerLink]="['/about']" routerLinkActive="active">About</a>
                </li>
                <li class="mb-2">
                   <a class="nav-link" [routerLink]="['/products']" routerLinkActive="active">Schemes</a>
                </li>
             </ul>
        </a>
        </div>
        <div class="col-7 col-sm-7 col-md-7 col-lg-4 col-xl-4">
            <div class="contact">
                <h5>Contact With Us : </h5>
                <div class="Contact-footer">
                    <i class="fas fa-envelope"></i>&nbsp;
                    <strong>Email : </strong>
                    <a class="emailTxt" href="mailto:srithirumurugan.engg74@gmail.com">schemesync&#64;gmail.com</a>
                </div>
            </div>  
        </div>
       </div>
</div>
</div>
<div class="company">
    <div class="com text-center">
    </div>
  </div>