.footer{
    bottom: 0;
    padding: 50px;
    background: linear-gradient(to right, #fffde4, #005aa7);
    border-top: 1px solid #eee;
}
.logo img {
    display: block;
    width: 4.5rem;
    margin-right: 5px;
    transition: transform 0.8s cubic-bezier(0.25, 1, 0.5, 1); /* Smooth easing */
}

.footer-logo:hover .logo img {
    transform: rotate(360deg); /* Rotate the logo on hover */
}
.brandname h5{
    font-weight: bold;
    color: #0c47c7;
}
.com{
    background-color: #878181;
    font-size: 12px;
    font-weight: lighter;
}
.contact h5{
    color: #0c47c7;
    font-weight: bold;
    padding: 5px;

}
.emailTxt{
    font-size: 16px;
}
a{
 color: #000;
 font-weight: 400;
 font-size: 16px;
 text-decoration: none;
 cursor: pointer;
}
a:hover{
    font-weight: 600;
}
.Contact-footer{
    padding: 5px;
    margin-bottom: 5px;
}
i{
    font-size: 18px;
}
li{
    text-decoration: none;
}
@media(max-width:768px){
    a{
        font-size: 12px;
    }
    .contact h5{
        font-size: 16px;
    
    }
    .com{
        font-size: 9px;
    }
    .Contact-footer{
        padding: 0px;
        margin-bottom: 2px;
    }
    strong{
        font-size: 13px;
    }
    i{
        font-size: 14px;
    }
    .footer{
        bottom: 0;

        padding: 0px;
        border-top: 1px solid #eee;
    }
    .emailTxt{
        font-size: 10px !important;
    }
}