.container-fluid{
    height: 100%;
    margin-bottom: 10px;
    
}
.border-bottom{
    width: 8%;
    height: 4px;
    background: #fb0404;
    margin: 10px auto;
}
.ag-cell {
    user-select: text !important; /* Allows text selection */
    cursor: text; /* Shows a text cursor */
}

.ag-row {
    touch-action: manipulation; /* Improves touch handling */
}
th{
    background: linear-gradient(to right, #fffde4, #005aa7);
}
.deletbtn{
    border: none;
    background-color: transparent;
    color:#005aa7 ;
}
::ng-deep .ag-header {
    background: linear-gradient(to right, #fffde4, #005aa7);
    color: rgb(0, 0, 0) !important; /* White text */
}