<div class="container">
  <div class="heading text-center ">
    <h3>About Us</h3>
    <div class="border-bottom"></div>
  </div>
  <div class="row">
    <!-- Left content -->
    <div
      class="col-12 col-xl-7 col-lg-7 col-md-12 col-sm-12 order-2 order-md-1"
    >
      <div class="aboutHead">
        <div class="aboutDesc">
          At SchemeSync, we are on a mission to make government benefits **accessible, transparent, and hassle-free** for
          everyone. Every year, countless individuals miss out on life-changing schemes simply because they are unaware of their
          eligibility or struggle with complex application processes. We are here to change that. <br /><br />

          Our platform **simplifies the journey** by intelligently matching beneficiaries with the right schemes based on their
          needs and profile. With real-time updates, personalized recommendations, and an intuitive interface, we ensure that no
          opportunity goes unnoticed.
        </div>
      </div>
    </div>
    <!-- Right content -->
    <div
      class="col-12 col-xl-5 col-lg-5 col-md-12 col-sm-12 order-1 order-md-2"
    >
      <div class="aboutImage">
        <img
          src="assets/homepagebanner/aboutimg.jpg"
          class="shopImage img-fluid"
          alt="Sri-Thirumurugan-Engineering"
        />
      </div>
      <h5 class="text-center">SCHEMESYNC</h5>
      <div class="border-bottom-2"></div>
    </div>
  </div>
  
</div>
<div class="bgContact container-fluid">
    <div class="bgOverlay d-flex flex-column justify-content-end align-items-center">
        <h4 style="padding: 20px;font-weight: bold;">For Checking Schemes</h4>
        <button class="Btn-contact" (click)="goToContact()">Click Here...</button>
    </div>
  </div>
