<div class="container">
  <div class="heading text-center ">
    <h3>About Us</h3>
    <div class="border-bottom"></div>
  </div>
  <div class="row">
    <!-- Left content -->
    <div
      class="col-12 col-xl-7 col-lg-7 col-md-12 col-sm-12 order-2 order-md-1"
    >
      <div class="aboutHead">
        <div class="aboutDesc">
          SRI THIRUMURUGAN ENGINEERING has specialized in high-quality Rubber &
          Ebonite rollers and molded rubber parts. With advanced R&D and skilled
          technicians, we deliver durable, defect-free rollers tailored to
          customer needs.<br /><br />

          Our rollers, ranging from 35° Shore A to 100° Shore A, ensure
          exceptional performance and longevity. We prioritize quality,
          reliability, and customer satisfaction, building lasting relationships
          through excellent products and service.
        </div>
      </div>
      <div class="otherHead">
        <h5>Other Information : </h5>
        <div class="aboutotherslist">
          <div class="aboutothers d-flex">
            <div class="onPoint d-flex">
              <i class="fa-solid fa-circle-check"></i>
              <h6>Nature Of Business :&nbsp; </h6>
            </div>
            <h5>Manufacturer / Service </h5>
          </div>
          <div class="aboutothers d-flex">
            <div class="onPoint d-flex">
              <i class="fa-solid fa-circle-check"></i>
              <h6>Proprietor :&nbsp;</h6>
            </div>
            <h5>Santhi</h5>
          </div>
          <div class="aboutothers d-flex">
            <div class="onPoint d-flex">
              <i class="fa-solid fa-circle-check"></i>
              <h6>GST No :&nbsp; </h6>
            </div>
            <h5>33JUJPS2169Q1ZM</h5>
          </div>
          <div class="aboutothers d-flex">
            <div class="onPoint d-flex">
              <i class="fa-solid fa-circle-check"></i>
              <h6>Legal Status Of Firm : &nbsp;</h6>
            </div>
            <h5>Proprietorship </h5>
          </div>
        </div>
      </div>
    </div>
    <!-- Right content -->
    <div
      class="col-12 col-xl-5 col-lg-5 col-md-12 col-sm-12 order-1 order-md-2"
    >
      <div class="aboutImage">
        <img
          src="assets/homepagebanner/About-image.jpg"
          class="shopImage img-fluid"
          alt="Sri-Thirumurugan-Engineering"
        />
      </div>
      <h5 class="text-center">SRI THIRUMURUGAN ENGINEERING</h5>
      <div class="border-bottom-2"></div>
    </div>
  </div>
  
</div>
<div class="bgContact container-fluid">
    <div class="bgOverlay d-flex flex-column justify-content-end align-items-center">
        <h4 style="padding: 20px;font-weight: bold;">For More Enquires</h4>
        <button class="Btn-contact" (click)="goToContact()">Contact Us...</button>
    </div>
  </div>
