<div class="container-fluid">
<div class="banner-wrapper">
    <div class="banner-content" [ngClass]="{'animate-banner': isInView}">
      <h1>Precision. Quality. Durability. That's our promise.</h1>
      <p>Trusted Solutions for Industrial Efficiency and Durability</p>
    </div>
  </div>
</div>
<!-- welcome part -->
 <div class="container ">
    <div class="welcome-head text-center">
      <div class="welcomeste">
        <h1>Welcome to SCHEME SYNC</h1>
      </div>
        <!-- <div class="border-botttom"></div> -->
        <p>At SCHEME SYNC, we take pride in delivering top-notch rubber and ebonite rollers, molded rubber parts, and sandblasting services, tailored to meet the diverse needs of industries like steel, paper, textile, roofing, and printing, while upholding the highest standards of quality, innovation, and customer satisfaction.</p>
        <button class="Btn-about" (click)="goToAbout()">Scheme Zone...</button>
    </div>
 </div>
 
  
  <!-- sand blasting banner -->
   <div class="container-fluid">
    <div class="banner-wrapper-2">
          <div class="banner-content-2" [ngClass]="{'animate-banner-2':isInView}">
            <h1>Clean, Smooth, and Durable with Sand Blasting.</h1>
            <p>Improving Surfaces for Better Strength and Longevity.</p>
          </div>
    </div>
   </div>
<!-- our team,quality & Customers -->
   <div class="container ">
    <h1 class="text-center" style="font-weight: bold;">Our Commitment to Excellence</h1>
    <div class="border-bottom"></div>
    <div class="row d-flex justify-content-center align-items-center">
    
    <div class="box col-lg-4 col-md-4 col-sm-12 text-center">
        <i class="fas fa-users fa-3x" aria-hidden="true"></i>
        <h3>Our Team</h3>
        <p>Always ready to help the Customers Not only for Sale But after Sales Services too !</p>
    </div>
    <div class="box col-lg-4 col-md-4 col-sm-12 text-center">
        <i class="fas fa-thumbs-up fa-3x" aria-hidden="true"></i>
        <h3>Quality</h3>
        <p>All Rollers pass through Very High Inspection Standards We care for our Products!</p>
    </div>
    <div class="box col-lg-4 col-md-4 col-sm-12 text-center">
        <i class="fas fa-address-card fa-3x" aria-hidden="true"></i>
        <h3>Our Customer</h3>
        <p>Wide Customer Base! Highly Satisfied Customers Accross the Globe.</p>
    </div>
        </div>
  </div>
  
  <app-company-types></app-company-types>