.heading{
    margin: 25px;
}
.border-bottom{
    width: 8%;
    height: 4px;
    background: #fb0404;
    margin: 6px auto;
  }
  .border-bottom-2{
    width: 40%;
    height: 5px;
    background: #fb0404;
    margin: 12px auto;
  }
  .contact-desc{
    margin: 20px;
  }
  .location{
    border: 2px solid #eee;
    padding: 10px;
    margin: 10px;
  }
  iframe{
    transition: transform 0.3s ease;
  }
  iframe:hover{
    transform: scale(1.02);
  }
  .border-bottom-2{
    width: 50%;
    height: 2px;
    background: #fb0404;
    margin: 6px 0px 15px;
  }
  .contact-details{
    margin-bottom: 20px;
    h6{
        font-weight: 500;
        font-size: 18px;
        cursor: pointer;
    }
    h5{
        color: rgb(89, 89, 89);
    }
    a{
        font-weight: 500;
        font-size: 18px;
        cursor: pointer;
        text-decoration: none;
        color: #000;
    }
  }
  @media(max-width : 768px){
    .border-bottom{
        width: 20%;
        height: 4px;
       }
       .border-bottom-2{
        width: 100%;
      }
      .contact-details{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
      }
}