<div class="industry-bg-img">
  <div class="companyHead text-center">
    <h1>Available Schemes</h1>
    <div class="border-bottom"></div>
  </div>

  <div id="industryCarousel" class="carousel slide" data-bs-ride="carousel">
    <div class="carousel-inner">
      <!-- First Item -->
      <div class="carousel-item active">
        <div class="row">
          <div class="col-lg-4 col-md-4 col-sm-12" style="width: 350px; padding: 10px;">
            <div class="card h-80">
              <div class="card-img">
                <img src="assets/Industries/nationalscolarship.jpg" class="card-img-top" alt="steelroller">
              </div>
              <div class="card-body" style="height: 160px;">
                <h5 class="card-title">National Scholarship Schemes</h5>
                <p class="card-text">Government-funded scholarships providing financial aid to meritorious and underprivileged students for education expenses.</p>
              </div>
            </div>
          </div>
          <div class="col-lg-4 col-md-4 col-sm-12" style="width: 350px; padding: 10px;">
            <div class="card h-80">
              <div class="card-img">
                <img src="assets/Industries/agrifund.jpg" class="card-img-top" alt="rubberroller">
              </div>
              <div class="card-body" style="height: 160px;">
                <h5 class="card-title">Agri Infrastructure Funds</h5>
                <p class="card-text">Provides financial support to farmers and agribusinesses for developing storage, processing, and other agricultural infrastructure.</p>
              </div>
            </div>
          </div>
          <div class="col-lg-4 col-md-4 col-sm-12" style="width: 350px; padding: 10px;">
            <div class="card h-80">
              <div class="card-img">
                <img src="assets/Industries/pmkissan.jpg" class="card-img-top" alt="paperrubberroller">
              </div>
              <div class="card-body" style="height: 160px;">
                <h5 class="card-title">PM Kissan</h5>
                <p class="card-text">A scheme offering ₹6,000 per year to small and marginal farmers to support agricultural expenses through direct bank transfers.</p>
              </div>
            </div>
          </div>
        </div>
      </div>
      
      <!-- Second Item -->
      <div class="carousel-item">
        <div class="row">
          <div class="col-lg-4 col-md-6 col-sm-12" style="width: 350px; padding: 10px;">
            <div class="card h-80">
              <div class="card-img">
                <img src="assets/Industries/seedfund.jpg" class="card-img-top" alt="rollerfortextile">
              </div>
              <div class="card-body" style="height: 160px;">
                <h5 class="card-title">Seed Fund Scheme</h5>
                <p class="card-text">Provides funding to early-stage startups to help with product development, market entry, and business expansion.</p>
              </div>
            </div>
          </div>
          <div class="col-lg-4 col-md-6 col-sm-12" style="width: 350px; padding: 10px;">
            <div class="card h-80">
              <div class="card-img">
                <img src="assets/Industries/bajajalianz.jpg" class="card-img-top" alt="rubberroller">
              </div>
              <div class="card-body" style="height: 160px;">
                <h5 class="card-title">Pradhan Mantri Fasal Bima Yojana(PMFBY)</h5>
                <p class="card-text"> Affordable crop insurance for farmers, covering losses due to natural calamities, pests, and diseases.</p>
              </div>
            </div>
          </div>
          <div class="col-lg-4 col-md-6 col-sm-12" style="width: 350px; padding: 10px;">
            <div class="card h-80">
              <div class="card-img">
                <img src="assets/Industries/educationloan.jpg" class="card-img-top" alt="steelroller">
              </div>
              <div class="card-body" style="height: 160px;">
                <h5 class="card-title">Education Loan Scheme</h5>
                <p class="card-text">Offers financial assistance to students for higher education, covering tuition fees, accommodation, and study materials.</p>
              </div>
            </div>
          </div>
        </div>
      </div>

    
    </div>

    <!-- Carousel controls -->
    <button class="carousel-control-prev" type="button" data-bs-target="#industryCarousel" data-bs-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#industryCarousel" data-bs-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Next</span>
    </button>
  </div>
</div>
