.carousel-item .row {
    justify-content: center;
  }
  
  .carousel-item img {
    max-width: 100%;
    height: 250px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    
  }
  .card {
    overflow: hidden; 
    
  }
  
  .card-img-top {
    transition: transform 0.4s ease-in-out; 
  }
  
  .card-img-top:hover {
    transform: scale(1.1);
  }
  h3 {
    font-size: 1.2rem;
    margin-top: 15px;
    color: #ffff;
  }
  h1{
    color: #ffff;
  }
  
  p {
    font-size: 1rem;
    margin-top: 10px;
  }
  .carousel-control-prev-icon {
    background-color: black; 
    filter: none; 
}

.carousel-control-next-icon {
    background-color: black;
    filter: none;
}

.industry-bg-img {
  background-image: url('../../assets/homepagebanner/bg-img.jpeg'); 
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  padding: 50px 0; 
  height: 100%;
  margin-top: 50px;
}
.border-bottom{
  width: 10%;
  height: 5px;
  background: #fb0404;
  margin: 18px auto;
}

